{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
	<h2 class="title text-center"> {{item.name}} </h2>
	<h4 class="description text-center"> {{item.description}} </h4>
	<img class="details-img" src="{{item.picture_url}}"> </img>
	<br>
	<div class="text-center">
	<a class="edit-delete" href="{{url_for('editItem', category_id = item.category_id, item_id = item.id)}}">		
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit </span> 
	</a> 
	<a href="{{url_for('deleteItem', category_id = item.category_id, item_id = item.id)}}"> 		
		<span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete </span> 
	</a>
	</div>
	<div class="text-center">
		<h3> Added by: {{user.name}} <img class="user-picture" src="{{user.picture_url}}"> </img></h3>

	</div>
</div>
{% endblock %}